/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Laravel specific
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/build
/public/mix-manifest.json
/auth.json
.phpunit.cache
.env.testing
/vendor
node_modules
/public/storage
/storage/*.key
.phpunit.result.cache
